<!-- this will be rendered when QuestionFormCtrl is used -->
<a href="#" class="menuOption" ng-controller="QuestionFormCtrl">Take Quiz</a>
<div class="jumbotron">
    <div class="addQSec">
        <h2 class="createTitle">Create a New Question</h2>
        <!-- can use ng-submit or use ng-click on a button below -->
        <form name="newQuestionForm" ng-submit="formSubmit()">

            <label>Question: </label>
            <input class="questionInput" type="text" name="q" ng-model="newQuestion.q" ng-minlength="5" required><br>
            <span class="errorMessage" ng-show="newQuestionForm.q.$error.minlength">Your question must be at least 5 characters long.</span>
            <span class="errorMessage" ng-show="newQuestionForm.q.$dirty && newQuestionForm.q.$error.required">You must enter a question.</span><br><br>

            <label>Options: </label>
            <span class="errorMessage" ng-show="newQuestionForm.correctAnswer.$error.required">You must indicate a correct answer.</span>
            <span class="errorMessage" ng-show="newQuestionForm.$error.enough_options">At least two options are required.</span><br>
        
            <div ng-repeat="option in newQuestion.options">
                <input type="radio" name="correctAnswer" ng-model="newQuestion.answer" value="{{option.value}}" required>
                <input class="optionInput" type="text" ng-model="option.value">
                <button ng-click="deleteOption($index)">Delete</button><br><br>
            </div><br>

            <button ng-click="addOption($event)">Add Option</button><br><br>
            <input class="submitBtn" type="submit"></input>
        </form>
    </div>
</div>