<!-- MainCtrl is this entire file and is linked here through routes and holds YellCtrl and QuizCtrl in it -->
<a href="#/new_question" class="createSec">Create Question</a>

<div ng-controller="YellCtrl" class="timerSec">
  <div class="timerSec">
    <h2>Timer</h2>
    <button ng-show="!isRunning" ng-click="startTimer()">Start</button>
    <button ng-show="isRunning" ng-click="pauseTimer()">Pause</button>
    <button ng-click="restartTimer()">Restart</button>
  </div>


  <div class="timeLeftSec">
    <h2>Time left:</h2>
    <h2>{{timeLeft}} seconds</h2>
  </div>

</div>
<div ng-controller="QuizCtrl"> 
  <div class="scoreSec">
    <h2>Score: {{ score.value }}</h2>
  </div>
<!-- <h2>{{ message }}</h2> -->
  
  <div class="jumbotron" ng-repeat="question in quiz">
    <form action="">
    <h3>{{ question.q }}</h3>
      <button ng-click="checkAnswer(option.value, question)" ng-disabled="question.answered" ng-repeat="option in question.options">{{ option.value }}</button>
    </form>
  </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
